/* VARIABLES */
/* SITE */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  background-color: #f5f6fa;
}

/* SECTION */
.comments-section {
  margin: 1.5rem;
}

.comment,
.reply {
  display: -ms-grid;
  display: grid;
  font-size: 1.6rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  grid-row-gap: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: white;
}

.comment__user,
.reply__user {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.comment__user--image,
.reply__user--image {
  height: 3.3rem;
}

.comment__user--username,
.reply__user--username {
  font-weight: 500;
  color: #324152;
}

.comment__data,
.reply__data {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #67727e;
}

.comment__content,
.reply__content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  color: #67727e;
}

.comment__score,
.reply__score {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f5f6fa;
  color: #5457b6;
}

.comment__score--icon,
.reply__score--icon {
  display: block;
}

.comment__react,
.reply__react {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
  color: #5457b6;
}

.reply {
  margin-left: 1.7rem;
  margin-bottom: 1.7rem;
}

.reply-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.7rem;
  margin-bottom: 1.7rem;
  border-left: 2px solid #eaecf1;
}

footer {
  text-align: center;
}

/* MEDIA QUERIES */
/*# sourceMappingURL=style.css.map */